body{
	background-color: #cccccc;
}
*{
	text-decoration:none;
	list-style:none;
}
 
h1, h2{
	text-align:center;
	padding:0px;
/* 	margin:0px; */
}
 
.player_one{
	background-color:white;
	height:180px;
	border:1px solid black;
	border-radius:10px;
}
 
  ul a{
	line-height:30px;
	color:black;
	margin-top: 50px ;
	  
	
}
 
.player_two{
	text-align:center;
	background-color:white;
	width:340px;
	padding:10px 0px;
	margin:auto;
	border-radius:10px;
	border: 1px solid black;
}
 
h6{
	text-align:start;
    margin-left:10px;
}
audio{
	width:340px;
	height:30px;
/* 	margin-bottom:30px; */
}
 